SECRET_KEY=string
DEBUG=true|false
ALLOWED_HOSTS=host1,host2,host3
CSRF_TRUSTED_ORIGINS=http://1,https://2
DATABASE_NAME=string
DATABASE_USER=string
DATABASE_PASSWORD=string
DATABASE_HOST=string
DATABASE_PORT=integer
AWS_ACCESS_KEY_ID=string
AWS_SECRET_ACCESS_KEY=string
AWS_STORAGE_BUCKET_NAME=string
DEFAULT_BACKEND_STORAGE=storages.backends.s3boto3.S3Boto3Storage
FILE_MODEL_STORAGE_PROVIDER=shared.storages.aws_s3.AwsS3StorageProvider